.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom CSS */
/* TODO : SASS... T.T */
.Omok {
  display: flex;
}
.row {
  display: flex;
}
.col {
  background-image: url("./cell.png");
  height: 3rem;
  width: 3rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-flex;
}
.col__stone {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  display: block;
  margin: auto;
  background-size: cover;
}
.Omok__input__Wrapper {
  display: flex;
  justify-content: space-between;
}
input {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
  height: 38px;
  width: 70%;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(200, 200, 200);
  border-image: initial;
  padding: 3px 17px 0px;
  outline: 0px;
  transition: background-color 0.25s ease 0s;
}

table {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
}
table thead th {
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #369;
  border-bottom: 3px solid #036;
}
table tbody th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  background: #f3f6f7;
}
table tbody tr {
  height: 30em;
}
table td {
  width: 350px;
  padding: 10px;
  vertical-align: top;
  border: 1px solid #ccc;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

button {
  margin-top: 5em;
  border-radius: 10%;
  padding: 10px;
}
